<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.koffeinfrei.zueribad" android:versionCode="3"
	android:versionName="1.0.2">
	
	<application android:icon="@drawable/ic_icon" android:label="@string/app_name" android:theme="@style/TranslucentZueribad">
		<uses-library android:name="com.google.android.maps" />

		<activity android:label="@string/app_name" android:name=".ui.activities.MainTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.activities.OverviewActivity"></activity>
		<activity android:name=".ui.activities.FavoritesActivity"></activity>
		<activity android:name=".ui.activities.NearLocationActivity"></activity>
		<activity android:name=".ui.activities.DetailsActivity"></activity>
	</application>
	
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

</manifest> 